<div class="inner">
  <h3 class="masthead-brand">OhDiary</h3>
  <ul class="nav masthead-nav">
    {{ if authenticated .CurrentUser }}
      <li class="{{ menu_css_class .Current "diaries/index" }}"><a href="/diary">Diary</a></li>
      <li class="{{ menu_css_class .Current "import" }}"><a href="/import">Import</a></li>
      <li class="{{ menu_css_class .Current "latest" }}"><a href="/latest">Latest</a></li>
      <li class="{{ menu_css_class .Current "settings" }}"><a href="/settings">Settings</a></li>
      <li class="{{ menu_css_class .Current "signout" }}"><a href="/signout">Sign Out</a></li>
    {{ else }}
      <li class="{{ menu_css_class .Current "index" }}"><a href="/">Home</a></li>
      <li class="{{ menu_css_class .Current "signup" }}"><a href="/signup"><img src="images/White-signin_Long_base_20dp.png"></a></li>
    {{ end }}
  </ul>
</div>