<html>
  <head>
    <title>Diary</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cover.css">
  </head>
  <body>

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">OhDiary</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">An OhLife replacement</h1>
            <p class="lead">As you might know the legendary service <a href="http://ohlife.com">OhLife</a> closed its doors in October 2014. This project has been made as an <a href="https://github.com/theill/diary">open-source OhLife alternative</a> and is developed using GO.</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              Get involved on <a href="https://github.com/theill/diary">Github</a>.
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>